In [1]:
import pandas as pd

In [21]:
datas = {'Data de entrega', 'Data previsão'}
pedidos = pd.read_csv('Tabela - Pedidos.CSV', sep=";", index_col= 'ID Pedido', parse_dates=datas)
veiculos = pd.read_csv('Tabela - Veículos.csv', sep=",")
estoque = pd.read_csv('Tabela - Estoque.csv', sep=",")
produtos = pd.read_csv('Tabela - Produtos.csv', sep=",")

In [22]:
pedidos.head()

,ID Produto,Quantidade,ID Veículo,Status do pedido,Data da compra,Data de entrega,Data previsão,Latitude,Longitude,UF da entrega
ID Pedido,,,,,,,,,,
1,32,3,19,Entregue,1/4/21 21:15,22/01/2021 21:15,2021-01-23 21:15:00,-22.19,-48.79,SP
2,50,9,42,Entregue,1/5/21 0:15,14/01/2021 00:15,2021-01-25 00:15:00,-22.19,-48.79,SP
3,39,3,19,Entregue,1/13/21 15:24,20/01/2021 15:24,2021-02-02 15:24:00,-20.51,-54.54,MS
4,39,1,16,Entregue,1/5/21 12:16,16/01/2021 12:16,2021-01-23 12:16:00,-6.60,-42.28,PI
5,19,7,14,Entregue,1/2/21 22:07,17/01/2021 22:07,2021-01-18 22:07:00,-22.25,-42.66,RJ

In [23]:
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147935 entries, 1 to 147935
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID Produto        147935 non-null  int64
 1   Quantidade        147935 non-null  int64
 2   ID Veículo        147935 non-null  int64
 3   Status do pedido  147935 non-null  object
 4   Data da compra    147935 non-null  object
 5   Data de entrega   147935 non-null  object
 6   Data previsão     147935 non-null  datetime64[ns]
 7   Latitude          147935 non-null  float64
 8   Longitude         147935 non-null  float64
 9   UF da entrega     147935 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 12.4+ MB